.header-container {
    background-color: #2C2D32;
    height: 80px;
    width:calc(100vw - 80px);
    z-index: 5;
    bottom: 0px;
    display: flex;
    position: relative;
    top : 0;
}
.number {
    position: relative;
    text-align: center;
    width: 15%;
    height: 80px;
    padding-top: 28px;
    float: left;
    vertical-align: baseline;
    margin-left: 50px;
    border-right: 2px solid rgba(255, 255, 255, 0.11);
}
.number .phone {
    float: left;
    width: 20px;
    height: 30px;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 0.41);
}
.phone-line {
    background-color: #FAC921;
    width: 3px;
    height: 6px;
    position: relative;
    margin-left: -1.5px;
    border-radius: 25%;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-iteration-count: infinite;
    left: 50%;
}
.number span{
    color: #8B8B8B;
    font-size: 12px;
    font-weight: 400;
}
.header-link {
    position: relative;
    background-color: #2A2A2E;
    padding: 23px 40px 0;
    width: calc(75% - 80px) ;
}
.header-link ul {
    list-style: none;
    vertical-align: baseline;
}
.header-link ul li {
    float: left;
    margin-right: 10px;
}
.header-link ul li a {
    text-decoration: none;
    color: #8B8B8B;
    padding: 13px 35px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
}
.header-link ul li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background: rgba(255, 255, 255, 0.091);
}
.header-link ul li a::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background: rgba(255, 255, 255, 0.091);
}
.message {
    font-size: 30px;
    color: white;
    text-align: center;
    cursor: pointer;
    line-height: 80px;
    position: absolute;
    right: 0px;
    width: 80px;
    height: 100%;
    background-color: #FAC921;
}
.active-item {
    color: #FAC921 !important;
}