<div class="header-container">
  <div class="number">
    <div class="phone">
      <div class="phone-line"></div>
    </div>
    <span>+33 74 821 16 99</span>
  </div>
  <nav class="header-link">
    <ul>
      <li>
        <a href="">Projets</a>
      </li>
      <li>
        <a href="">Expériences</a>
      </li>
      <li>
        <a href="">Formations</a>
      </li>
      <li>
        <a href="">Certifications</a>
      </li>
    </ul>
  </nav>
  <div class="message">
    <i class="fa fa-envelope"></i>
  </div>
</div>