<div class="header-container">
  <div class="number">
    <div class="phone">
      <div class="phone-line"></div>
    </div>
    <span>+33 74 821 16 99</span>
  </div>
  <nav class="header-link">
    <ul>
      <li>
        <a routerLink="/project" routerLinkActive="active-item">Projets</a>
      </li>
      <li>
        <a routerLink="/experience" routerLinkActive="active-item">Expériences</a>
      </li>
      <li>
        <a routerLink="/learning" routerLinkActive="active-item">Formations</a>
      </li>
      <li>
        <a routerLink="/certification" routerLinkActive="active-item">Certifications</a>
      </li>
    </ul>
  </nav>
  <div class="message">
    <i class="fa fa-envelope"></i>
  </div>
</div>