<div class="header-container">
  <div class="number">
    <div class="phone">
      <div class="phone-line"></div>
    </div>
    <span>+33 74 821 16 99</span>
  </div>
  <nav class="header-link">
    <ul>
      <li>
        <a routerLink="/project" routerLinkActive="active-item">Projets</a>
      </li>
      <li>
        <a routerLink="/experience" routerLinkActive="active-item">Expériences</a>
      </li>
      <li>
        <a routerLink="/learning" routerLinkActive="active-item">Formations</a>
      </li>
      <li>
        <a routerLink="/certification" routerLinkActive="active-item">Certifications</a>
      </li>
    </ul>
  </nav>
  <div class="message" (click)="onDisplay()">
    <i class="fa fa-envelope"></i>
  </div>
  <div class="contact" *ngIf="display==true">
    <div class="contact-container">
      <h3>Me contacter</h3>
      <p>Merci de remplir ce formulaire pour me contacter ou bien utiliser mes coordonnées ci-dessous.</p>
      <div class="contact-form">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="name">
            <input type="text" placeholder="Votre nom" id="name" name="name" ngModel>
          </div>
          <div class="email">
            <input type="email" placeholder="Votre addresse mail" id="email" name="email" ngModel>
          </div>
          <div class="message-content">
            <textarea name="" id="" rows="5" placeholder="Votre message" id="message" name="message" ngModel></textarea>
          </div>
          <div class="button-submit">
            <input type="submit" value="Envoyer">
          </div>
        </form>
      </div>
      <div class="contact-list">
        <ul>
          <li>
            <i class="fa fa-phone"></i>
            <span class="span1">Tel :</span>
            <span class="span2">+ 33 74 821 16 99</span>
          </li>
          <li>
            <i class="fa fa-envelope"></i>
            <span class="span1">Email :</span>
            <span class="span2">m.diallosarifou@gmail.com</span>
          </li>
          <li>
            <i class="fa fa-map-marker"></i>
            <span class="span1">Adresse :</span>
            <span class="span2">Lille France</span>
          </li>
        </ul>
      </div>
      <div class="contact-social-item">
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/mamadou-sarifou-diallo-33806b167/">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.github.com/sarifou">
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>