<div class="container certification-container">
    <div class="container project-container-title">
        <h4 class="text-center ">Mes certifications</h4>
    </div>
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-sm-2 g-4">
        <div class="col">
            <div class="card card-certification">
              <img src="/assets/imgs/certificat.jpg" height="220px" width="auto" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title text-center">Machine Learning Python</h5>
              </div>
            </div>
        </div>
    </div>
</div>