.experience-container {
  margin-top: 80px;
  padding-top: 25px;
}
.experience {
  position: relative;
  float: left;
  width: 100%;
}
.image {
  text-align: center;
}
.section-subtitle {
  font-size: 130px;
  transform: translateZ(0px) translateY(52.896px);
  font-weight: 900;
  position: absolute;
  top: 50px;
  left: 40px;
  right: 0;
  opacity: 0.15;
  text-align: left;
  color: #ccc;
  text-transform: uppercase;
}
.section-subtitle span {
  color: #FAC921;
}
.clear {
  clear: both;
}
.conteneur {
  max-width: 1224px;
  width: 92%;
  margin : 0 auto ;
  position: relative;
  z-index: 5;
}
.row {
  margin-bottom: 40px;
}
.conteneur::before {
  content: '';
  display: table;
}
.conteneur::after {
  content: '';
  display: table;
  clear: both;
}
.section-title {
  padding: 20px 0 20px 50px;
  margin-bottom: 50px;
  text-align: left;
  float: left;
  width: 100%;
  position: relative;
}
.section-title::before {
  content: '';
  position: absolute;
  background: #FAC921;
  top: 0;
  left: -2px;
  width: 4px;
  height: 100%;
}
.section-title h3 {
  padding-bottom: 30px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  color: #999;
}
.section-title h3::before {
  content: '';
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100px;
  height: 1px;
  border-bottom: 1px dotted #666;
}
.section-title h2 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(50, 58, 69);
  position: relative;
  padding-bottom: 30px;
}
.line {
  margin-left: -15px;
  margin-right: -15px;
}
.line::before{
  content: " ";
  display: table;
}
.line::after{
  clear: both;
  content: " ";
  display: table;
}
.custom-card {
  padding: 30px 10px 30px 80px;
  border: 1px solid #eee;
  float: left;
  width: 100%;
  position: relative;
  background-color: #f9f9f9;
}
.custom-card::before {
  content: '';
  position: absolute;
  top: 50%;
  background-color: #FAC921;
  left: -26px;
  width: 10px;
  height: 4px;
  margin-top: -2px;
}
.custom-card::after {
  content: "\f0b1";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  color: #666;
  bottom: 10px;
  font-size: 70px;
  right: 10px;
  opacity: 0.08;
}
.custom-card i {
  text-align: center;
  background-color: #FAC921;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -20px;
  -webkit-box-reflect : below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.2)));
}
.custom-card h3 {
  float: left;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}
.custom-card span {
  font-size: 13px;
  text-transform: uppercase;
  width: 100%;
  float: left;
  color: #666;
  text-align: left;
  font-weight: 600;
}
.ci-num {
  float: left;
  margin-top: 70px;
  position: relative;
  width: 100%;
  margin-left: -40px;
}
.ci-num span {
  position: absolute;
  left: 0;
  opacity: 0.2;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 6px;
  transform: rotate(-90deg);
  color: #666;
}
.custom-content-card {
  padding: 35px 30px 45px;
  background: #f9f9f9;
  border: 1px solid #eee;
  float: left;
  width: 100%;
  position: relative;
}
.custom-content-card h4{
  float: left;
  width: 100%;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
}
.custom-content-card ul{
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: 500;
  color: #878C9F;
}
.custom-content-card span {
  background-color: #FAC921;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  padding: 14px 40px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 15px;
  border-top-left-radius: 6px;
  text-shadow: 1px 1px 2px rgb(150 150 150 / 36%);
}