<div class="container experience-container">
  <div class="experience">
    <div class="section-subtitle">
      Mon Parcours <span>//</span>
    </div>
    <div class="clear"></div>
    <div class="conteneur">
      <div class="section-title">
        <h3>A propos de mon parcours professionnel</h3>
        <h2>Mon Experience</h2>
        <p>
          ******************************************************************************************************
      </p>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Chef de projet robotique</h3>
          <span>Mars 2021 - Présent</span>
        </div>
        <div class="ci-num">
         <span>04. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>CNRS-CRIStAL</h3>
          <span>France, Lille</span>
        </div>
        <div>
          <img src="/assets/imgs/cristal.png" alt="logo-cristal">
        </div>
      </div>
      <div class="col">
        <div class="custom-content-card">
          <h4>Description du poste</h4>
          <ul>
            <li>Conception et implémentation d'une architecture robotique cloud</li>
            <li>Programmation robotique avec ROS</li>
            <li>Rédaction de cahier des charges</li>
            <li>Planification des étapes du projet OMCRI4CP</li>
          </ul>
          <ul>
            <li>Equipe : PADR</li>
            <li>Site web : www.cristal.fr</li>
          </ul>
          <span>Stage</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Ingénieur électromécanique</h3>
          <span>Septembre - Octobre 2020</span>
        </div>
        <div class="ci-num">
         <span>03. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Sen'Ecole</h3>
          <span>Sénégal, Dakar</span>
        </div>
        <div class="image">
          <img src="/assets/imgs/senecole.png" alt="logo-cristal">
        </div>
      </div>
      <div class="col">
        <div class="custom-content-card">
          <h4>Description du poste</h4>
          <ul>
            <li>Conception d'une ruche intelligence pour les apiculteur du Benin</li>
            <li>Tests robotiques pour le Pan-African Robotics Competition</li>
          </ul>
          <ul>
            <li>Site web : www.senecole.com</li>
          </ul>
          <span>CDD</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Stagiaire</h3>
          <span>Septembre - Octobre 2019</span>
        </div>
        <div class="ci-num">
         <span>02. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Centrale hydroélectrique de Félou</h3>
          <span>Mali, Kayes</span>
        </div>
        <div class="image" >
          <img src="/assets/imgs/omvs.jpg" style="height: 150px !important; width:auto;" alt="logo-cristal">
        </div>
      </div>
      <div class="col">
        <div class="custom-content-card">
          <h4>Description du poste</h4>
          <ul>
            <li>Chargé de l'exploitation et de l'entretien de la centrale</li>
            <li>Développement d'une application mobile pour la collecte d'information lors des rondes</li>
          </ul>
          <ul>
            <li>www.omvs.org</li>
          </ul>
          <span>Stage</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Fabmanager</h3>
          <span>Octobre 2016 - Juin 2020</span>
        </div>
        <div class="ci-num">
         <span>01. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Polylab Ecole Polytechnqiue de Thiès</h3>
          <span>Sénégal, Thiès</span>
        </div>
        <div class="image" >
          <img src="/assets/imgs/polylab.png" style="width: 300px; height:auto;" alt="logo-cristal">
        </div>
      </div>
      <div class="col">
        <div class="custom-content-card">
          <h4>Description du poste</h4>
          <ul>
            <li>Impression 3D</li>
            <li>Découpe CNC</li>
            <li>Electronique et programmation avec Arduino</li>
            <li>Suivi de projet</li>
            <li>Formation des nouveaux élèves</li>
          </ul>
          <ul>
            <li>www.fablab-ept.net</li>
          </ul>
          <span>Contrat étudiant</span>
        </div>
      </div>
    </div>
  </div>
</div>
