<div class="container experience-container">
  <div class="experience">
    <div class="section-subtitle">
      Mon Parcours <span>//</span>
    </div>
    <div class="clear"></div>
    <div class="conteneur">
      <div class="section-title">
        <h3>A propos de mon parcours professionnel</h3>
        <h2>Mon Experience</h2>
        <p>
          J'aime les emplois avec un réel challenge. Un emploi avec des défis quotidien qui te font réflechir.....  
      </p>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Chef de projet robotique</h3>
          <span>Mars 2021 - Août 2021</span>
        </div>
        <div class="ci-num">
         <span>04. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>CNRS-CRIStAL</h3>
          <span>France, Lille</span>
        </div>
        <div>
          <img src="/assets/imgs/cristal.png" alt="logo-cristal">
        </div>
      </div>
      <div class="col">
        <div class="custom-content-card">
          <h4>Description du poste</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
          </p>
          <ul>
            <li>Equipe PADR</li>
            <li>Site web : www.cristal.fr</li>
          </ul>
          <span>Stage</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Ingénieur électromécanique</h3>
          <span>Mars 2021 - Août 2021</span>
        </div>
        <div class="ci-num">
         <span>03. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Sen'Ecole</h3>
          <span>Sénégal, Dakar</span>
        </div>
        <div class="image">
          <img src="/assets/imgs/senecole.png" alt="logo-cristal">
        </div>
      </div>
      <div class="col">
        <div class="custom-content-card">
          <h4>Description du poste</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
          </p>
          <ul>
            <li>Equipe PADR</li>
            <li>Site web : www.cristal.fr</li>
          </ul>
          <span>CDD</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Stagiaire</h3>
          <span>Mars 2021 - Août 2021</span>
        </div>
        <div class="ci-num">
         <span>02. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Centrale hydroélectrique de Félou</h3>
          <span>Mali, Kayes</span>
        </div>
        <div class="image" >
          <img src="/assets/imgs/omvs.jpg" style="height: 150px !important; width:auto;" alt="logo-cristal">
        </div>
      </div>
      <div class="col">
        <div class="custom-content-card">
          <h4>Description du poste</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
          </p>
          <ul>
            <li>Equipe PADR</li>
            <li>Site web : www.cristal.fr</li>
          </ul>
          <span>Stage</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Fabmanager</h3>
          <span>Mars 2021 - Août 2021</span>
        </div>
        <div class="ci-num">
         <span>01. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Polylab Ecole Polytechnqiue de Thiès</h3>
          <span>Sénégal, Thiès</span>
        </div>
        <div class="image" >
          <img src="/assets/imgs/polylab.png" style="width: 300px; height:auto;" alt="logo-cristal">
        </div>
      </div>
      <div class="col">
        <div class="custom-content-card">
          <h4>Description du poste</h4>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
          </p>
          <ul>
            <li>Equipe PADR</li>
            <li>Site web : www.cristal.fr</li>
          </ul>
          <span>Interim</span>
        </div>
      </div>
    </div>
  </div>
</div>
