<div class="container-fluid">
    <div class="container">
        <div class="row row-project">
            <div class="col-lg-9">
                <div class="titre">
                    <p class="text-start"> {{projet.nom}} <span class="badge badge-termine">Terminé</span></p>
                </div>
                <ul class="nav nav-tabs" id="myTab" role="tablist" *ngIf="projet.contenu">
                    <li class="nav-item" role="presentation" *ngFor="let tab of projet.contenu.tab; let id = index">
                      <button class="nav-link" [ngClass]="{'active' : id == 0}" id="home-tab" data-bs-toggle="tab" attr.data-bs-target="{{tab.id}}" type="button" role="tab" aria-controls="home" aria-selected="true">{{tab.nom}}</button>
                    </li>
                </ul>
                <div class="tab-content contenu" id="myTabContent" *ngIf="projet.contenu">
                    <div class="tab-pane fade" [ngClass]= "{'show active' : tabContent.id == 'description'}" *ngFor="let tabContent of projet.contenu.tabContent" [id]="tabContent.id" role="tabpanel" aria-labelledby="home-tab">
                        <div markdown ngPreserveWhitespaces>
                            # Markdown
                          </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card text-dark bg-light mb-3" style="max-width: 100%;">
                    <div class="card-header">Vidéo demo</div>
                    <div class="card-body card-video">
                        <iframe  width="100%" height="auto" src="#" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="card text-dark bg-light mb-3" style="max-width: 100%;">
                    <div class="card-header">Ressources</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngIf="projet.Ressources">
                            <li class="list-group-item" style="background-color : transparent" *ngFor="let ressource of projet.Ressources">
                                <i class="fa fa-github" style="display : inline">
                                    <a [href]="ressource.url" style="color:black; text-decoration: none;" target="_blank">  {{ressource.nom}}</a> 
                                </i>
                            </li>
                        </ul>
                    </div>
                </div>
                  <div class="card text-dark bg-light mb-3" style="max-width: 100%;">
                    <div class="card-header">Logiciels</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" *ngIf="projet.Logiciels">
                            <li class="list-group-item" style="background-color : transparent" *ngFor="let logiciel of projet.Logiciels">
                                <i class="fa fa-bandcamp">
                                    <a [href]="logiciel.url" style="color:black ; text-decoration : none ;" target="_blank">   {{logiciel.nom}}</a>
                                </i>
                            </li>
                        </ul>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>