<div class="container learning-container">
  <div class="container learning-container-title">
    <h4 class="text-center ">Mon cursus</h4>
  </div>
  <div class="timeline"> 
    <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
      <div class="timeline__event__icon ">
        <i class="fa fa-flag-checkered"></i>
      </div>
      <div class="timeline__event__date">
        2020-2021
      </div>
      <div class="timeline__event__content ">
        <div class="timeline__event__title">
          Mastère spécialisé mécatronique et management
        </div>
        <ul class="content-skills">
          <li>Polytech'Lille</li>
          <li>France/Lille</li>
        </ul>
        <div class="timeline__event__description">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
        </div>
      </div>
    </div>
    <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
      <div class="timeline__event__icon">
        <i class="fa fa-check"></i>
      </div>
      <div class="timeline__event__date">
        2017-2020
      </div>
      <div class="timeline__event__content">
        <div class="timeline__event__title">
          Ingénieur de conception en électromécanique
        </div>
        <ul class="content-skills">
          <li>Ecole Polytechnique de Thiès</li>
          <li>Sénégal/Thiès</li>
        </ul>
        <div class="timeline__event__description">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
        </div>
      </div>
    </div>
    <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
      <div class="timeline__event__icon">
        <i class="fa fa-check"></i>
      </div>
      <div class="timeline__event__date">
        2015-2017
      </div>
      <div class="timeline__event__content">
        <div class="timeline__event__title">
          Classe préparatoire - Tronc commun
        </div>
        <ul class="content-skills">
          <li>Ecole Polytechnique de Thiès</li>
          <li>Sénégal/Thiès</li>
        </ul>
        <div class="timeline__event__description">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
        </div>
  
      </div>
    </div>
    <div class="timeline__event animated fadeInUp timeline__event--type2">
      <div class="timeline__event__icon">
        <i class="fa fa-check"></i>
      </div>
      <div class="timeline__event__date">
        Juin 2015
      </div>
      <div class="timeline__event__content">
        <div class="timeline__event__title">
          Baccalauréat Sciences Mathématiques
        </div>
        <ul class="content-skills">
          <li>Lycée Blaise Diagne</li>
          <li>Sénégal/Dakar</li>
        </ul>
        <div class="timeline__event__description">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel, nam! Nam eveniet ut aliquam ab asperiores, accusamus iure veniam corporis incidunt reprehenderit accusantium id aut architecto harum quidem dolorem in!</p>
        </div>
      </div>
    </div>
  
  </div>
</div>