<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Mastère Spécialisé Mécatronique et Management</h2>
    <div class="timeline-content-info">
      <span class="timeline-content-info-title">
        <i class="fa fa-certificate" aria-hidden="true"></i>
        Polytech'Lille
      </span>
      <span class="timeline-content-info-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        2020-2021
      </span>
    </div>
            <p>TODO</p>
    <ul class="content-skills">
    <li>France</li>
    <li>Lille</li>
    <li>En cours</li>
    </ul>
        </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Cycle ingénieur de conception</h2>
    <div class="timeline-content-info">
      <span class="timeline-content-info-title">
        <i class="fa fa-certificate" aria-hidden="true"></i>
        Ecole Polytechnique de Thiès
      </span>
      <span class="timeline-content-info-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        2017-2020
      </span>
    </div>
        <p>TODO</p>
    <ul class="content-skills">
    <li>Sénégal</li>
    <li>Dakar</li>
    </ul>
        </div> <!-- cd-timeline-content -->
    </div>
    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Cycle préparatoire-Tronc commun</h2>
    <div class="timeline-content-info">
      <span class="timeline-content-info-title">
        <i class="fa fa-certificate" aria-hidden="true"></i>
        Ecole Polytechnique de Thiès
      </span>
      <span class="timeline-content-info-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        2015-2017
      </span>
    </div>
        <p>TODO</p>
    <ul class="content-skills">
    <li>Sénégal</li>
    <li>Thiès</li>
    </ul>
        </div> <!-- cd-timeline-content -->
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Baccalauréat Série S1</h2>
    <div class="timeline-content-info">
      <span class="timeline-content-info-title">
        <i class="fa fa-certificate" aria-hidden="true"></i>
        Lycée Blaise Diagne
      </span>
      <span class="timeline-content-info-date">
        <i class="fa fa-calendar-o" aria-hidden="true"></i>
        2015
      </span>
    </div>
        <p>TODO</p>
    <ul class="content-skills">
    <li>Sénégal</li>
    <li>Dakar</li>
    </ul>
        </div> <!-- cd-timeline-content -->
    </div><!-- cd-timeline-block -->
</section> <!-- cd-timeline -->