<div class="container experience-container">
  <div class="experience">
    <div class="section-subtitle">
      Ma Formation <span>//</span>
    </div>
    <div class="clear"></div>
    <div class="conteneur">
      <div class="section-title">
        <h3>A propos de ma formations</h3>
        <h2>Ma formation</h2>
        <p>
          ******************************************************************************************************
      </p>
      </div>
    </div>
    <div class="clear"></div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Mastère spécialisé Mécatronique et Management</h3>
          <span>2020-2021</span>
        </div>
        <div class="ci-num">
         <span>04. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Polytech'Lille</h3>
          <span>France, Lille</span>
        </div>
        <div>
          <img src="/assets/imgs/polytech.png" alt="logo-cristal">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Diplôme d'ingénieur de conception en Electromécanique</h3>
          <span>2027-2020</span>
        </div>
        <div class="ci-num">
         <span>03. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Ecole Polytechnqiue de Thiès</h3>
          <span>Sénégal, Thiès</span>
        </div>
        <div class="image">
          <img src="/assets/imgs/ept.png" alt="logo-cristal">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Classe préparatoire</h3>
          <span>2015-2017</span>
        </div>
        <div class="ci-num">
         <span>02. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Ecole Polytechnique de Thiès</h3>
          <span>Mali, Kayes</span>
        </div>
        <div class="image" >
          <img src="/assets/imgs/ept.png" alt="logo-cristal">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Baccalauréat Scientifique</h3>
          <span>2015</span>
        </div>
        <div class="ci-num">
         <span>01. -</span> 
        </div>
      </div>
      <div class="col">
        <div class="custom-card">
          <i class="fa fa-briefcase"></i>
          <h3>Lycée Blaise Diagne</h3>
          <span>Sénégal, Dakar</span>
        </div>
      </div>
    </div>
  </div>
</div>
