<div class="side-contain">
    <div class="brand" routerLink="/home">
        Sarifou
    </div>
    <div class="menu-button">
        <i class="fa fa-download" (click)="download()"></i>
        <div class="menu-button-text">CV</div>
    </div>
    <div class="social-icon">
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/mamadou-sarifou-diallo-33806b167/">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.github.com/sarifou">
                    <i class="fa fa-github"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="share">
        <i class="fa fa-share-square"></i>
    </div>
</div>
