<div class="container project-container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="/assets/imgs/Robotino.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Robotino</h5>
                <p class="card-text">Programmation des robotinos pour une usine 4.0</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">En cours</li>
            </ul>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="/assets/imgs/Robotino.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Robotino</h5>
                  <p class="card-text">Programmation des robotinos pour une usine 4.0</p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">En cours</li>
              </ul>
              <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="/assets/imgs/Robotino.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Robotino</h5>
                  <p class="card-text">Programmation des robotinos pour une usine 4.0</p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">En cours</li>
              </ul>
              <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img src="/assets/imgs/Robotino.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">Robotino</h5>
                  <p class="card-text">Programmation des robotinos pour une usine 4.0</p>
              </div>
              <ul class="list-group list-group-flush">
                  <li class="list-group-item">En cours</li>
              </ul>
              <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
        </div>
    </div>
</div>