<div class="container project-container">
    <div class="projet-container">
        <div class="projet">
            <div class="section-subtitle">
                Mes réalisations <span>//</span>
            </div>
            <div class="clear"></div>
            <div class="conteneur">
                <div class="section-title">
                    <h3>Quelques réalisations</h3>
                    <h2>Mes projets</h2>
                    <p>
                    ******************************************************************************************************  
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-sm-1 g-4">
                <div class="col" *ngFor="let project of projects; let i = index">
                    <div class="card"  [routerLink]="['project-detail', i]">
                      <div class="card-body" *ngIf="project.nom">
                          <h5 class="card-title project-title">{{project.nom}}</h5>
                          <div class="small-description-div" *ngIf="project.description">
                              <p class="text-description">{{project.description}}</p>
                          </div>
                          <div class="badge-description-div" *ngIf="project.badge">
                            <span *ngFor="let badge of project.badge" class="badge-description-item">
                                <span class="text-color">
                                </span>
                                <span class="text-badge">
                                    {{badge.nom}}
                                </span>
                            </span>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>