.home {
    height: 90vh;
    padding-top: 150px;
}
.btn-custom {
    width: 150px;
    margin-right: 20px;
}
.welcome {
    font-size: 72px;
}
.name {
    font-size: 55px;
}
.title {
    font-size: 35px;
}