<div class="container-fluid home">
   <div class="container">
    <div class="row  bg-home">
        <div class="col-lg-9">
        <h2 class="text-start welcome">Bienvenue !</h2>
        <h3 class="text-start lh-lg name">Mamadou Sarifou DIALLO</h3>
        <h4 class="text-start lh-lg title">Ingénieur Polytechnicien</h4>
        <button class="btn btn-dark btn-custom" type="button" routerLink="/project">Projets</button>
        <button class="btn btn-outline-dark btn-custom" type="button" routerLink="/contact">Contacts</button>
    </div>
   </div>
</div>