.home {
    height: 100vh;
    padding-top: 150px;
    background-image: url("../../assets/imgs/back.jpg");
}
.btn-custom {
    width: 150px;
    margin-right: 20px;
}
.welcome {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 500;
    font-size: 72px;
    color: #61DAFB;
}
.name {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 500;
    font-size: 55px;
    color: whitesmoke;
}
.title {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 600;
    font-size: 35px;
    color: whitesmoke;
}
.btn-project {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 500;
    background-color: #61DAFB;
    color: #2d313a;
}
.btn-contact {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 500;
    border-color: #61DAFB;
    color: #61DAFB;
}
@media (max-width: 786px) {
    .home {
        padding-top: 100px;
    }
    .welcome {
        font-size: 60px;
        text-align: center !important;
    }
    .name {
        font-size: 45px;
        line-height: 2px;
        text-align: center !important;
    }
    .title {
        font-size: 25px;
        text-align: center !important;
    }
    .btn-project {
        margin-bottom: 9px;
    }
    .btn-project , .btn-contact{
        width: 100%;
    }
}