@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.home {
    height: calc(100vh - 63px);
    padding-top: 150px;
    background-color: #2d313a;
}
.btn-custom {
    width: 150px;
    margin-right: 20px;
}
.welcome {
    font-family: 'Courgette', cursive;
    font-size: 72px;
    color: #61DAFB;
}
.name {
    font-family: 'Courgette', cursive;
    font-size: 55px;
    color: whitesmoke;
}
.title {
    font-family: 'Courgette', cursive;
    font-size: 35px;
    color: whitesmoke;
}
.btn-project {
    font-family: 'Courgette', cursive;
    background-color: #61DAFB;
    color: #2d313a;
}
.btn-contact {
    font-family: 'Courgette', cursive;
    border-color: #61DAFB;
    color: #61DAFB;
}
@media (max-width: 786px) {
    .home {
        padding-top: 50px;
    }
    .welcome {
        font-size: 60px;
    }
    .name {
        font-size: 45px;
        line-height: 2px;
    }
    .title {
        font-size: 25px;
    }
    .btn-project {
        margin-bottom: 9px;
    }
    .btn-project , .btn-contact{
        width: 100%;
    }
}